#heroListView {
    width: 100%;
    height: 94%;
}

#heroListView .win-item {
    background-color: #0B1217!important;
    text-transform:capitalize;
    height: 170px!important;
    width: 185px;
}

#heroListView .win-item .full {
    width: 185px!important;
    height: 100px!important;
}

#heroListView .win-item .mini {
    display: none;
}

#heroListView .win-container:hover{
    outline: #b93e3e solid 3px;
}

#heroListView h3 {
    color:#b93e3e;
}

#heroListView h5 {
    color: #8399a8!important;
}

#heroListView .win-container {
    background-color: transparent!important;
    margin: 20px!important;
}

#heroListView .win-container img {
    display: block;
}

#heroListView .text-container {
    background: #0B1217;
    padding: 5px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

#heroListView .win-surface {
    margin-left: 100px!important;
}

#heroListView .win-groupheader {
    padding: 20px!important;
}

#heroFilterBar {
    margin-left: 120px;
    height: 6%;
}

@media (min-resolution: 120dpi), (min-width: 321px) and (max-width: 1366px) {
    #heroListView .win-item {
        background-color: transparent!important;
        text-transform:capitalize;
        height: 155px!important;
        width: 202px;
    }

    #heroListView .win-item .full {
        width: 202px!important;
        height: 106px!important;
    }

    #heroListView .win-container {
        margin: 10px!important;
    }
}

@media (-ms-view-state: snapped) {
    #heroListView {
        margin-top: 0px;
        height: 80%;
    }
    #heroListView .win-surface {
        -ms-flex-direction: column;
        overflow-x: hidden;
        width: 100%;
        margin-left: 0px!important;
    }

    #heroListView .win-item {
        height: 72px!important;
        width: 320px;
        display: -ms-flexbox;
        -ms-flex-direction: row;
    }

    #heroListView .win-item .full {
        display: none;
    }

    #heroListView .win-item .mini {
        display: block;
        width: 48px;
        height: 72px;
        background: #0B1217;
        padding-top: 16px;
        padding-left: 16px;
    }

    #heroListView .win-item .mini img {
        width: 32px;
        height: 32px;
    }

    #heroListView .win-container {
        margin-left: 0px!important;
        margin-right: 0px!important;
        margin-top: 2px!important;
        margin-bottom: 2px!important;
    }

    #heroListView .text-container {
        width: 226px;
        padding-right: 25px;
    }

    #heroFilterBar {
        margin-left: 20px;
        height: 20%;
    }
}

@media (-ms-view-state: snapped) and (min-device-width: 1920px) and (max-resolution: 100dpi) {
    #heroListView {
        height: 86%;
    }

    #heroFilterBar {
        height: 14%
    }

}

#heroListView .int {
    color: #1a87f9!important;
}

#heroListView .agi {
    color: #2bab01!important;
}

#heroListView .str {
    color:#b93e3e!important;
}